* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

main {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 100vh;
}

main section {
  width: 100vw;
}

main .home {
  background: url("fondo.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

main .home::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

main .home .header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 100px;
}

main .home .header .logo {
  width: 30%;
}

main .home .header .logo img {
  width: 30%;
  height: 80px;
  line-height: 100px;
}

main .home .header nav {
  width: 70%;
  text-align: end;
  line-height: 100px;
}

main .home .header nav ul {
  list-style-type: none;
}

main .home .header nav ul li {
  display: inline-block;
  line-height: 100px;
  padding-left: 20px;
  line-height: 50px;
}

main .home .header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}

main .home .header .menu--toggle {
  position: relative;
  display: block;
  text-align: end;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  line-height: 100px;
  color: #fff;
  display: none;
}

main .home .home__title {
  position: relative;
  z-index: 10;
  width: 100vw;
  top: 40vh;
  text-align: center;
}

main .home .home__title h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

main .home .home__title h1 span {
  font-family: 'Lobster';
  font-weight: 500;
  font-size: 50px;
}

main .show {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

main .dots {
  position: absolute;
  z-index: 10;
  width: 100vw;
  text-align: center;
  bottom: 20px;
}

main .dots i {
  color: #fff;
}

main .about {
  background-color: #ab3a4c;
}

main .about .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 100px;
  position: relative;
  top: 25vh;
}

main .about .about__content .about__text {
  text-align: justify;
  padding-right: 50px;
  color: #fff;
  line-height: 1.25;
  font-size: 18px;
  font-weight: 500;
}

main .about .about__content .about__text h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

main .about .about__content img {
  width: 40%;
  height: 30%;
  border-radius: 10px;
}

main .presentaciones {
  background-color: #ab3a4c;
  text-align: center;
}

main .presentaciones .presentaciones__container {
  padding: 10px 100px;
  position: relative;
  top: 20vh;
  text-align: center;
  width: 100%;
  color: #fff;
}

main .presentaciones .presentaciones__container h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #fff;
}

main .presentaciones .presentaciones__container .gallery__links {
  text-align: start;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .presentaciones .presentaciones__container .gallery__links h4 {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}

main .presentaciones .presentaciones__container .gallery__links h4:first-child {
  margin-right: 5px;
}

main .presentaciones .presentaciones__container .gallery__links h4:nth-child(2) {
  margin-left: 5px;
}

main .presentaciones .presentaciones__container .gallery__links .active {
  color: #f0d5d0;
}

main .presentaciones .presentaciones__container .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
}

main .presentaciones .presentaciones__container .gallery img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

main .presentaciones .presentaciones__container .gallery__ponques {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(100px, auto);
      grid-template-rows: minmax(100px, auto);
  justify-items: center;
  grid-gap: 10px;
}

main .presentaciones .presentaciones__container .gallery__ponques img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

main .presentaciones .presentaciones__container .gallery__ponques img:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -o-object-fit: cover;
     object-fit: cover;
}

main .presentaciones .presentaciones__container .gallery__ponques img:nth-child(2) {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  height: 410px;
}

main .presentaciones .presentaciones__container .gallery__ponques img:nth-child(4) {
  -o-object-fit: cover;
     object-fit: cover;
}

main .presentaciones .presentaciones__container .hide {
  display: none;
}

main .contacto {
  background-color: #ab3a4c;
}

main .contacto .contacto__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 100px;
  position: relative;
  top: 25vh;
}

main .contacto .contacto__container .contacto__texto {
  color: #fff;
  width: 50%;
  line-height: 1.25;
}

main .contacto .contacto__container .contacto__texto h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

main .contacto .contacto__container .contacto__texto h3 {
  font-size: 25px;
  width: 90%;
  margin-bottom: 10px;
}

main .contacto .contacto__container .contacto__texto h4 {
  font-size: 20px;
}

main .contacto .contacto__container .contacto__texto a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  left: 100px;
}

main .contacto .contacto__container .contacto__ig {
  margin: 0 auto;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #ab3a4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000000;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.loader-container img {
  width: 350px;
}

.cookies__banner {
  display: none;
  background-color: #fff;
  padding: 20px;
  width: calc( 100% - 40px);
  max-width: 300px;
  line-height: 150%;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 900;
  padding-top: 40px;
  -webkit-box-shadow: 0 2px 20px 10px rgba(222, 222, 222, 0.25);
          box-shadow: 0 2px 20px 10px rgba(222, 222, 222, 0.25);
  text-align: center;
}

.cookies__banner .cookie__img {
  max-width: 100px;
  position: absolute;
  top: -50px;
  left: calc( 50% - 50px);
}

.cookies__banner .cookie__title {
  font-size: 25px;
  color: #000;
  margin-top: 30px;
}

.cookies__banner .cookie__text {
  color: #000;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.cookies__banner .cookie__button {
  background-color: #ab3a4c;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cookies__banner .cookie__policy {
  display: block;
  padding-top: 10px;
  color: #000;
  font-weight: 800;
  text-decoration: none;
}

.cookies__banner.active {
  display: block;
}

.background__cookies {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 899;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.background__cookies.active {
  display: block;
}

/*End loader*/
@media screen and (min-width: 1280px) {
  main .presentaciones .presentaciones__container {
    top: 15vh;
  }
  main .contacto .contacto__container {
    top: 15vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
  main {
    grid-auto-flow: row;
  }
  main .home {
    height: 100vh;
  }
  main .home .header {
    padding: 10px 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .home .header .menu--toggle {
    position: relative;
    display: block;
    text-align: end;
    right: 0;
  }
  main .home .header .logo img {
    width: 70%;
  }
  main .home .header #menu {
    background-color: #ffffffcc;
    position: absolute;
    top: 100px;
    height: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  main .home .header #menu ul {
    padding: 0;
    margin: 0;
  }
  main .home .header #menu ul li {
    display: block;
    text-align: center;
    font-size: 20px;
    padding-left: 0;
    border-bottom: 1px solid #ab3a4c;
  }
  main .home .header #menu ul li a {
    color: #ab3a4c;
    font-weight: 800;
  }
  main .home .home__title h1 {
    font-size: 30px;
  }
  main .home .home__title h1 span {
    font-size: 35px;
  }
  main .dots {
    display: none;
  }
  main .about .about__content {
    display: block;
    padding: 10px 40px;
    position: relative;
    top: 5vh;
  }
  main .about .about__content .about__text {
    text-align: justify;
    padding-right: 0;
    color: #fff;
    line-height: 1.25;
    font-size: 18px;
    font-weight: 500;
  }
  main .about .about__content .about__text h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
  }
  main .about .about__content img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
  }
  main .presentaciones .presentaciones__container {
    padding: 10px 40px;
    top: 5vh;
  }
  main .presentaciones .presentaciones__container .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-items: center;
  }
  main .presentaciones .presentaciones__container .gallery img {
    margin: 0 auto;
    max-width: 250px;
    height: 200px;
    border-radius: 10px;
  }
  main .presentaciones .presentaciones__container .gallery__ponques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-items: center;
  }
  main .presentaciones .presentaciones__container .gallery__ponques img {
    margin: 0 auto;
    max-width: 250px;
    height: 200px;
    border-radius: 10px;
  }
  main .presentaciones .presentaciones__container .gallery__ponques img:nth-child(2) {
    height: 200px;
  }
  main .presentaciones .presentaciones__container .hide {
    display: none;
  }
  main .contacto {
    height: 110%;
  }
  main .contacto .contacto__container {
    padding: 10px 40px;
    top: 5vh;
    display: block;
  }
  main .contacto .contacto__container .contacto__texto {
    width: 100%;
    text-align: justify;
  }
  main .contacto .contacto__container .contacto__texto h3 {
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
  }
  main .contacto .contacto__container .contacto__texto h4 {
    font-size: 18px;
  }
  main .contacto .contacto__container .contacto__texto a {
    bottom: 0;
    left: 40px;
  }
  main .contacto .contacto__container .contacto__ig {
    display: block;
    margin: 20px auto;
  }
  main .contacto .contacto__container .contacto__ig iframe {
    min-width: 254px !important;
  }
}

@media screen and (max-width: 530px) {
  main .home .header .logo img {
    width: 100%;
  }
  main .home .home__title {
    padding: 0 20px;
  }
  main .home .home__title h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  main .home .home__title h1 span {
    font-family: 'Lobster';
    font-weight: 500;
    font-size: 25px;
  }
  .loader-container img {
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */